.wrapper{
    min-height: 90vh;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .row{
    padding: 10px;
  }
  
  .card{
    text-align: center;
  }
  .regBtn{
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 25px;
  }
  /* ng2-password-strength-bar{
    width: 100%;
  } */
  