<div class="container">
	<br/><br/>
   
            <div class="row row-margin-bottom">
           <!-- <div class="card"> -->
            <div class="col-md-5  no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-12 h-75">
                            <img class="lib-img-show" src="assets/health-insurance-image.jpg">
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Example library
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
           <!-- </div> -->
            <div class="col-md-1"></div>
        <!-- <div class="card"> -->
            <div class="col-md-5 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                      
                        <div class="col-md-6">
                           
                        </div>
                    </div>
                </div>
            </div>  
        <!-- </div> -->

        </div>
        <br/><br/><br/><br/>  
</div>