<section class="section-wrap ani-common">
  <div class="newbie-sec happy-mem-sect">
    <div class="container page-container">
      <div class="newbie-wrapper" data-aos="fade" data-aos-duration="1000" data-aos-delay="300"
        data-aos-anchor-placement="center-bottom">
        <div class="newbie-rhs ani-lhs">
          <div class="newbie-card-wrapper newbie-alignment" data-attribute="aa-happy-customer"> <a
              href="https://apps.tataaia.com/PG/#!/policyPayment" class="newbiecard-anc-w" rel="noreferrer noopener">
              <img class="lozad" src="assets/AIA_Icon_Pay%20premium.svg"> <span>Pay
                premium</span> </a> <a href="https://apps.tataaia.com/UnclaimedAmount/PLCDetails.jsp"
              class="newbiecard-anc-w" rel="noreferrer noopener"> <img class="lozad"
                src="/content/dam/tataaia/homepage/icons/AIA_Icon_Download%20statement.svg"> <span>Download premium
                certificate</span> </a> <a href="/customer-service/claim-registration.html" class="newbiecard-anc-w">
              <img class="lozad" src="/content/dam/tataaia/homepage/icons/AIA_Icon_Register%20claim.svg"> <span>Register
                claim</span> </a> <a href="https://myinsurance.tataaia.com/" class="newbiecard-anc-w"
              rel="noreferrer noopener"> <img class="lozad"
                src="/content/dam/tataaia/homepage/icons/AIA_Icon_Raise%20service%20request.svg"> <span>Raise service
                request</span> </a> <a href="/customer-service.html" class="newbiecard-anc-w"> <img class="lozad"
                src="/content/dam/tataaialifeinsurancecompanylimited/customer-service/premium-payment.svg"> <span>Other
                services </span> </a>
          </div>
          <div class="f-center"> <a href="https://myinsurance.tataaia.com/" data-attribute="aa-login-button"
              class="primary-btn primary-bg br-10 white-col btn" rel="noreferrer noopener">Login</a>
          </div>
        </div>
        <div class="newbie-lhs ani-rhs">
          <picture>
            <source media="(max-width:768px)" srcset="/content/dam/tataaia/homepage/happy-member.png">
            <img class="mb-1 lozad" src="assets/happy-member.png" alt="">
          </picture>
          <div class="section-title">
            <h2>
              <p>I am a Happy<br> Customer</p>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>