<section class="p60  what-is-section common-health-hd bglighgry main-health-id section" id="section_What_hd">
    <div class="container">

        <!-- <div class="text-center">
            <button
            title="Explore Our Best Health Plans"  class="btn btn-primary btn-lg" id="ExplPlanbtn" (click)="explore()">
            your plans</button>
        </div> -->
        <br/>
        <h2 class="heading-lob-h2 pb30">What is <span class="abc">Health Insurance?</span>
            <!-- <button
            title="Explore Our Best Health Plans"  class="btn btn-primary float-right" id="ExplPlanbtn" (click)="explore()">
            Your plans</button> -->
        </h2>
        <div class="row">
            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-md-push-8"><img src="assets/healthinsurance.png"
                    alt="What is health Insurance policy" title="What is Health Insurance"
                    class="health-right-video lazy" data-toggle="modal" data-target="#videoModal" /></div> -->
            <div class="col-lg-12 col-md-8 col-sm-8 col-md-pull-4">
                <div class="health-insurance-box">
                    <p>Health Insurance is a medical coverage that helps you meet your medical expenses by offering
                        financial assistance. Due to the high cost of hospitalization expenses, it is important to have
                        a health insurance plan in place. In the current
                        pandemic situation, health insurance plays a vital role in safeguarding your finances. You can
                        buy a health insurance plan for your family and avail the below mentioned benefits &amp;
                        coverage.
                    </p>
                    <div class="row mt20">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/medical-expenses.svg"
                                    alt="health insurance covers medical expenses" title="Medical Expenses Covered" />
                            </div>
                            <div class="white-con">
                                <h5>Medical Expenses</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/cost-of-hosptilization.svg"
                                    alt="health insurance covers cost of hospitalization"
                                    title="Hospitalization Costs Covered" /></div>
                            <div class="white-con">
                                <h5>Cost of Hospitalization</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img src="assets/icu-charges.svg"
                                    alt="health insurance covers icu charges" title="ICU Charges Covered" /></div>
                            <div class="white-con">
                                <h5>ICU Charges</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/amubulance-cost-covered.svg"
                                    alt="ambulance cost covered in health Insurance" title="Ambulance Cost Covered" />
                            </div>
                            <div class="white-con">
                                <h5>Ambulance Cost</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/day-care-procedure.svg"
                                    alt="day care procedures covered in health insurance" title="day care procedure" />
                            </div>
                            <div class="white-con">
                                <h5>Day Care Procedures</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/ayush-benefit.svg"
                                    alt="ayush benefits covered in health insurance" title="Ayush Benefits" /></div>
                            <div class="white-con">
                                <h5>AYUSH Benefit</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- What is Health Insurance? -->
<br/>
<!-- Do I Really Need a Health Insurance Plan? -->
<section class="p60  common-health-hd main-health-id do-really-section section" id="section_Do_I_need_hd">
    <div class="container">
        <h2 class="heading-lob-h2 pb30">Do I Really Need a <span class="abc">Health Insurance Plan?</span></h2>
        <div class="row">
            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><img
                    src="assets/need-for-health-insurance.svg"
                    alt="Why do you need a health insurance plan" title="Importance of Health Insurance Plan"
                    class="health-right-video lazy" data-toggle="modal" data-target="#videoModal2" /></div> -->
            <div class="col-lg-12 col-md-8  col-sm-8 col-xs-12">
                <div class="health-insurance-box">
                    <p><b>The answer is a clear Yes,</b> because most of us may require medical treatment at some point
                        of time in life. Hence, it is important to have a good health insurance plan that caters to
                        rising medical expenses. To meet these expenses
                        and avail quality healthcare facilities, it is important to have a comprehensive health
                        insurance cover. Take a look at the key reasons that makes health insurance a must-have.
                    </p>
                    <div class="row mt20">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/medical-inflation.svg"
                                    alt="beats medical inflation" title="Medical Inflation" /></div>
                            <div class="white-con">
                                <h5>Beat Medical Inflation</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/quality-healthcare-facilities.svg"
                                    alt="get quality healthcare facilities with medical insurance"
                                    title="Quality Healthcare Facilities" /></div>
                            <div class="white-con">
                                <h5>Avail Quality Healthcare Facilities</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/access-to-specialised-treatment.svg"
                                    alt="get specialised treatments with medical insurance policy"
                                    title="Specialised Treatments Access" /></div>
                            <div class="white-con">
                                <h5>Get Access to Specialised Treatments</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/cashless-hospitalization.svg"
                                    alt="Get cashless hospitalization with health insurance policy"
                                    title="Cashless Hospitalisation" /></div>
                            <div class="white-con">
                                <h5>Avail Cashless Hospitalisation Facility</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img src="assets/tax-savings.svg"
                                    alt="Save tax with health insurance" title="Tax Savings" /></div>
                            <div class="white-con">
                                <h5>Save Tax up to ₹75,000^</h5>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="white-str"><img
                                    src="assets/preventive-health-checkup.svg"
                                    alt="get preventive health check-ups with medical insurance"
                                    title="Health Check-ups" /></div>
                            <div class="white-con">
                                <h5>Get Preventive Health Check-up Coupons</h5>
                            </div>
                        </div>
                    </div>
                </div><!-- <button class="btn-hd centerbtn compbtn mt20" type="submit">Explore Our plans</button> -->
                <div class="text-center">
                    <button
                    title="Explore Our Best Health Plans"  class="btn btn-success btn-lg" id="ExplPlanbtn" (click)="go()">Explore
                    Our plans</button>
                </div>
<br/><br/>
               
            </div>
        </div>
    </div>
</section><!-- Do I Really Need a Health Insurance Plan?-->